.feature {
    position: relative;
    padding: 1.5rem 1.75rem;
    color: #000;
    background-color: white;
    overflow: hidden;
    border-radius: 0.8em;
}
  .feature.large {
    grid-column: span 2;
  }
  .feature.centered {
    text-align: center;
  }

  .feature h3 {
    position: relative;
    font-size: 34px;
    font-size: min(34px, max(4vw, 24px));
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02rem;
    z-index: 2;
  }

  .feature h4 {
    position: relative;
    font-size: 26px;
    font-size: min(26px, max(4vw, 20px));
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02rem;
    z-index: 2;
  }
  
  :global(.dark) .feature:not(.light-only) {
    color: #fff;
    background-color: #202020;
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    font-feature-settings: initial;
  }
  
  .feature :global(.show-on-mobile) {
    display: none;
  }
  
  @media screen and (max-width: 1024px) {
    .feature {
      max-width: 80vw;
      width: 100%;
    }
    .feature.large {
      grid-column: span 1;
    }
    .features {
      grid-template-columns: 1fr;
      grid-gap: 3em;
      justify-items: center;
    }
    .feature h3 {
      font-size: 28px;
      font-size: min(28px, max(4vw, 22px));
      text-align: center;
    }
  }
  
  @media screen and (max-width: 640px) {
    .feature {
      max-width: 460px;
      width: 100%;
    }
    .feature.large {
      grid-column: span 1;
    }
    .features {
      grid-template-columns: 1fr;
      grid-gap: 3em;
      justify-items: center;
    }
    .feature h3 {
      font-size: 34px;
      font-size: min(34px, max(4vw, 22px));
      text-align: center;
    }
    .feature :global(.show-on-mobile) {
      display: block;
    }
  }