---
const logos = [
  { name: 'cPanel', src: '/img/logos/cpanel.svg' },
  { name: 'Plesk', src: '/img/logos/plesk.svg' },
  { name: 'DirectAdmin', src: '/img/logos/directadmin.svg' },
  { name: 'ISPConfig', src: '/img/logos/ispconfig.png' },
  { name: 'HestiaCP', src: '/img/logos/hestiacp.svg' },
  { name: 'PayPal', src: '/img/logos/paypal.svg' },
  { name: 'Stripe', src: '/img/logos/stripe.svg' },
  { name: 'Mollie', src: '/img/logos/mollie.svg' },
  { name: 'Namecheap', src: '/img/logos/namecheap.svg' },
];
---

<div class="logo-slider relative overflow-hidden py-8">
  <div class="marquee-track flex whitespace-nowrap">
    {
      [...logos, ...logos].map((logo, i) => (
        <div
          class="mx-8 flex items-center justify-center"
          style="height: 32px; min-width: 150px;"
          aria-hidden={i >= logos.length ? 'true' : undefined}
        >
          <img
            src={logo.src}
            alt={i < logos.length ? logo.name : ''}
            class="logo-img transition-all duration-300"
            style="height: 100%; width: auto; object-fit: contain;"
          />
        </div>
      ))
    }
  </div>
</div>
